label{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
#title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 12px;
}
#description{
    display: block;
    text-align: center;
    margin-bottom: 2rem;
}

select{
    background: white;
    width: 100%;
    padding: .5rem .5rem;
    border-radius: 5px;
    color:black
}
body{
    background: url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg") ;
}
*{
    margin:0;
    box-sizing: border-box;
    padding:0;
    color: white
}
.container{
    background: #51518d;
    opacity: .9;
    height: 100%;
    padding: 4rem;
}
form{
    background: #282847;
    display:flex;
    border-radius: 5px;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-start;
    max-width: 800px;
    padding: 2rem;
}

input{
    padding: .5rem .5rem;
    border: 0;
    width: 100%;
    display: block;
    border-radius: 5px;
    margin-top: 12px;
}
html{
    font-size: 16px;
}
br{
    display: block;

}

.box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.box > input{
    display: inline;
    width: auto;
    margin-top: 0;
    margin-right: 12px;
}
textarea{
    width: 100%;
    height: 100px;
}
textarea:placeholder{
    color:black;
    margin-bottom: 20px;

}
button{
    background-color: #37af65;
    border: 0;
    border-radius: 5px;
    padding: .5rem;
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.option_button {
    display: inline-block;
    width: auto;
    margin: 20px;
    margin-left: 0;
}